header{
    width:100%;
    overflow: hidden;
}
.Home svg{
    width:100%;

}
.headertext{
    position: relative;
    margin-top: 120px;
    margin-right:30px;  
}

nav ul {
    position: fixed;
    margin-top:200px; 
    margin-right:50px; 
    list-style: none;
    z-index: 500;
    opacity: .05;
    transition:.5s; 
}
nav ul:hover{
    opacity: 1;

} 
nav ul li{
    padding-left: -20px;
    transition:.5s; 
  }
nav ul li:hover{
    padding-left: 10px;
  }
nav ul li a{
  text-decoration: none;
  text-decoration-color: none;
  color:rgb(119, 119, 119);
}
.about h2{
    margin-top:90px;
    font-size: 60px;
    text-decoration-line: underline;
    color:#3100FF;
}
.about p{
    font-size: 30px;
}
.plan .img{
    position: relative;
    width:300px;
    height:290px;
    overflow: hidden;
}

.plan img{
    position: relative;
    width:100%;
    filter: grayscale(10);
    transition: .5s;
} 
.plan img:hover{
    filter: grayscale(0);


}
.plan span{
    position: absolute;
    top: 0;
    text-decoration: none;
    color:white;
    font-size: 40px;
    text-align: center;
    margin: 30px;
    font-weight: bold;
    opacity: 0;
    transition: .05s;
}
.plan a:hover span{
    color:#3100FF;
    opacity: 1;
}

.exercise{
    position: relative;
}
.exercise ul{
    list-style: none;
}
.exercise a{
    text-decoration: none;
    font-size: 150%;
    color:#000;
    margin-right:10px; 
}
.exercise a:hover{
    color: #3100FF;
    text-decoration-line: underline;
}
.exercise .exe{
    display: none;
    position: relative;
    margin-right: 10px;
}
.exercise .see{
    display: block;
}
.exercise .exe ul{
    width:80%;
    height:100%;
    background: #3100FF;
    padding: 30px;
}
.exercise .exe ul li p {
    font-size: 20px;
    color:#fff;
}

.dailyworkout{
    background: black;
}
.dailyworkout .menu{
   list-style: none;
   position: relative;;
   margin-top: 30%;
   overflow: hidden;
   transition: .3s;


}
.dailyworkout .menu li{
    width:100%;
    font-size: 40px;
    transition: .5s;
    text-align: center;

}
.dailyworkout .menu li span{
    display: none;
}
.dailyworkout .menu li a{
    text-decoration: none;
    color:#fff;
}
.dailyworkout .menu li a:hover{
    color: #3100FF
}
.dailyworkout .menu li a:hover span{
    display: inline;
}


.dailyworkout .day{
    position: relative;
    display: none;
    opacity: 0;
    height: 0%;
    transition:.5s;
    width: 100%;
    right: 1000px
}
.dailyworkout .day ul {
    list-style: none;
    background: #3100FF;
    width: 100%;
}
.dailyworkout .day ul li{
    color:#fff;
    font-size: 30px;
}
.dailyworkout .see{
    display: block;
    right: 0px;
    opacity: 1;
    height: 100%;
}
footer{
    width: 100%;
    height:300px;
    background: #f7f7f7;
}
/* footer .fristlist a{
    position: relative;
    margin-top:20px; 
    margin-right: 5%;
    left:25%;
    color:black;
    text-decoration: none;

} */
footer  ul{
    position: relative;
    bottom: 0;
    top:50px;
    list-style: none;
    text-align: center;
    z-index: 200;
}
footer  ul li  a{
    position: relative;
    margin-right: 2%;
    color:#a2a2a2;
    text-decoration: none;
}
footer ul li a:hover{
    color:#000;
    text-decoration: none;

}

footer .user{
   position: relative;
   margin-top:10%;
}
footer .user label,input{
    position: relative;
}
footer .user label{
    font-size: 20px;
    font-weight: bold;
}
footer .user input{
    width:300px;
    border: none;
}